@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-work-sans: 'Work Sans', 'Arial', sans-serif;
  }
}

@layer components {
  .section-container {
    @apply px-4 sm:px-6 lg:px-32;
  }

  .btn-primary {
    @apply bg-primary hover:bg-primary-dark text-white 
           px-6 py-3 rounded-full transition-colors duration-300;
  }

  .section-heading {
    @apply text-4xl font-normal text-center mb-5 mt-24;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-b-3 {
    border-bottom-width: 3px;
  }
}